/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

h1{
    font-size: 3vw;
}

h5{
    font-size: 1.5vw;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

.container .standby,
.container .stop,
.container .pause {
  /* Add the blur effect */
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

#start_ctrl_btn {
  position: absolute;
  top: 45%;
  left: 50%;
  background-color: #5100ff;
  color: white;
  font-size: 2vw;
  padding: 1vw 2vw;
  border: none;
  cursor: pointer;
  border-radius: 2vw;
  box-shadow: 0 1vw #999;
}

.audio-controls {
  position: absolute;
  top: 50%;
}

.inactive .control_btn {
  float: left;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #5100ff;
  color: white;
  font-size: 2vw;
  padding: 1vw 2vw;
  margin-left: 1vw;
  border: none;
  cursor: pointer;
  border-radius: 2vw;
  box-shadow: 0 1vw #999;
}

.recording .control_btn {
  float: left;
  background-color: #5100ff;
  color: white;
  font-size: 1.5vw;
  padding: 1vw 2vw;
  margin-left: 1vw;
  margin-bottom: 2vh;
  border: none;
  cursor: pointer;
  border-radius: 2vw;
  box-shadow: 0 1vw #999;
}

.paused .control_btn {
  float: left;
  background-color: #5100ff;
  color: white;
  font-size: 1.5vw;
  padding: 1vw 2vw;
  margin-left: 1vw;
  margin-bottom: 2vh;
  border: none;
  cursor: pointer;
  border-radius: 2vw;
  box-shadow: 0 1vw #999;
}

.control_btn:hover {
  background-color: #2004aa;
}

.control_btn:active {
  background-color: #2004aa;
  box-shadow: 0 6.4px #999;
  top: 50.6%;
}
