/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Style instruction */
h1{
  font-size: 3vw;
}

h5{
  font-size: 1.5vw;
  text-align: left;
  flex: 0 0 100%; 
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Blur image */
.container img.standby,
.container img.stop,
.container img.pause {
  /* Add the blur effect */
  filter: blur(6px);
  -webkit-filter: blur(6px);
}


